@import "tailwindcss";

@keyframes scan {
  0% { top: 0%; }
  50% { top: 96%; }
  100% { top: 0%; }
}

/* Hide scrollbars for dense technical lists */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
